.MatchDetailCard {
    display: grid;  //grid within a grid (outer grid in TeamPage.css)
    grid-template-columns: 1fr 1fr;  
    padding: 10px;
    margin-bottom: 20px;

    .match-date, .match-venue, .match-result {
        margin-top: 10px;
    }

    .additional-detail {
        text-align: right;
        & > p {   //to align paragraph below additional detail
            margin-bottom: 20px;
        }
    }
}
